In [2]:
import psutil
import re
import pandas as pd

# Display all the processes as a data-frame
---
1. create a dictionary of the processes running
2. Transpose the dataframe that is created from dictionary

In [3]:
processes_data: dict ={p.pid: p.info for p in psutil.process_iter(["name", "username"])}
processes = pd.DataFrame(data=processes_data)\
                .transpose()\
                # .reset_index()\
                # .rename(columns={"index":"pid"})
processes

                                     name username
1                                 systemd     root
2                                kthreadd     root
3                                  rcu_gp     root
4                              rcu_par_gp     root
5                            slub_flushwq     root
...                                   ...      ...
862076                 kworker/0:2-events     root
862096                        Web Content   bhavik
862168                             python   bhavik
862216                             chrome   bhavik
862227  kworker/7:2-wg-crypt-surfshark_wg     root

[416 rows x 2 columns]

# Find process id from the name
----
telegram or discord or slack or skype

In [4]:
processes[processes["name"].isin(["telegram", "discord", "skype", "slack"])]\
    # .index             # uncomment this just to see pids

# processes[processes["name"].isin(["telegram", "discord", "skype", "slack"])]["pid"]

        name username
6583   slack   bhavik
6586   slack   bhavik
6587   slack   bhavik
6616   slack   bhavik
6621   slack   bhavik
6655   slack   bhavik
12301  slack   bhavik

# Find all ipv4 addresses

In [5]:
print("Network Connections")
network_connections = pd.DataFrame(data=psutil.net_connections(kind="inet4"))
display(network_connections)

Network Connections

,fd,family,type,laddr,raddr,status,pid
0,186,2,1,"(10.14.0.2, 57434)","(34.117.65.55, 443)",ESTABLISHED,861732.0
1,21,2,1,"(10.14.0.2, 44120)","(162.247.241.2, 443)",CLOSE_WAIT,7398.0
2,87,2,1,"(127.0.0.1, 17603)",(),LISTEN,228202.0
3,-1,2,1,"(10.14.0.2, 45018)","(149.112.121.10, 443)",TIME_WAIT,NaN
4,129,2,1,"(127.0.0.1, 55110)","(127.0.0.1, 8888)",ESTABLISHED,861732.0
...,...,...,...,...,...,...,...
157,81,2,1,"(127.0.0.1, 55956)","(127.0.0.1, 9004)",ESTABLISHED,194442.0
158,-1,2,1,"(10.14.0.2, 52818)","(149.112.122.10, 443)",TIME_WAIT,NaN
159,96,2,1,"(10.14.0.2, 42224)","(35.201.103.21, 443)",ESTABLISHED,861732.0
160,-1,2,1,"(10.14.0.2, 47508)","(149.112.122.10, 443)",TIME_WAIT,NaN
161,11,2,1,"(127.0.0.1, 8888)","(127.0.0.1, 59596)",ESTABLISHED,861593.0